<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}{% if titlePage %} | {{ titlePage }}{% endif %}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  {% include "components/header.njk" %}
  <main class="container">{{ content | safe }}</main>
  {% include "components/footer.njk" %}
</body>
</html>