{# src/_includes/components/footer.njk #}
<footer class="site-footer">
  <div class="footer-container"> {# Para manter a largura e o alinhamento consistentes #}

    <div class="footer-bottom">
      <div class="footer-credits">
        <p class="cc-license">
          <a rel="license noopener noreferrer" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank" style="display:inline-block; margin-right: 0.5rem;">
            <img alt="Licença Creative Commons" style="border-width:0; vertical-align: middle;" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
          </a>
          Salvo indicação em contrário, o conteúdo deste site está licenciado sob uma <a rel="license noopener noreferrer" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Licença Creative Commons Atribuição-NãoComercial 4.0 Internacional</a>.
        </p>
      </div>
    </div>

  </div>
</footer>